
<section class="nav-bar">
    <div class="container-fluid">
      <div class="row pt-3">
         <div class="col-4 mt-1 text-center">
             <a href="" class="fs-1"><i class="fa-solid fa-seedling logo-color"></i></a>
             <a href="{% url 'home' %}" class="fs-3">Cactius</a>
         </div>
         <div class="col-4  ">
             <ul class="d-flex mt-4 px-3 justify-content-center gap-5">
                 <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                 <li class="list-inline-item"><a href="{% url 'about' %}">About</a></li>
                 <li class="list-inline-item"><a href="{% url 'contact' %}">Contacts</a></li>
                 <li class="list-inline-item"><a href="#productdetails">Products</a></li>
             </ul>
         </div>
        {% if user.is_authenticated %}
        <div class="col-4 mt-4 text-center">
            <a href="{% url 'logout' %}">Logout |</a>
            <a href="{% url 'cart' %}">Cart <i class="fa-solid fa-bag-shopping logo-color"></i></a>

        </div>
        {% else %}
        <div class="col-4 mt-4 text-center">
            <a href="{% url 'login' %}">Login |</a>
            <a href="{% url 'register' %}">Sign up |</a>
            <a href="{% url 'cart' %}">Cart <i class="fa-solid fa-bag-shopping logo-color"></i></a>
        </div>
        {% endif %}


         
         </div>
      </div>
    </div>
 </section>
 